@media only screen and (max-width: 600px) {
  .parent-container {
    flex-direction: column;
    display: grid;
    grid-template-areas: "sidebar calendar";
  }
  .sidebar,
  .calendar {
    width: 50%;
  }
}

.meal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding-left: 70px;
  padding-right: 20px;
}

.meal-grid-left {
  /* display: flex;
  flex-direction: column; */
  height: 650px; /* set the desired height */
  width: 700px;
  overflow-y: scroll; /* add scrollbar if content overflows */
  margin: 20px;
  padding: 5px;
  background-color: rgba(243, 197, 197, 0.9);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.meal-grid-right {
  height: 650px; /* set the desired height */
  overflow-y: scroll; /* add scrollbar if content overflows */
  margin: 20px;
  width: 700px;
  padding: 5px;
  background-color: rgba(243, 197, 197, 0.9);

  /* background-color: rgba(251, 172, 172, 0.8); */
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* .meal-grid-left p:hover {
  background-color: #f78f8f;
} */

.custom-font1 {
  font-family: "Blinker", sans-serif;
  font-size: larger;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.custom-font2 {
  font-family: "Blinker", sans-serif;
  font-size: larger;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0.5%;
}

.custom-font3 {
  font-family: "Blinker", sans-serif;
  font-size: x-large;
  margin-top: 0%;
  margin-bottom: 0%;
}

.meal-type-font {
  font-family: "Blinker", sans-serif;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 0.5%;
  text-decoration-line: underline;
}

.dish-name-font {
  font-family: "Blinker", sans-serif;
  font-size: x-large;
  font-weight: bold;
  text-decoration-line: underline;
  margin-bottom: 0%;
}

.camvas {
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.concept-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

/* .dishes_popup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: #e8f386;
  border-radius: 5px;
  padding: 20px;
  max-width: 4000px;
  overflow-y: auto;
}

.dishes_popup p {
  margin: 0;
  padding: 10px;
}

.dishes_popup button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dishes_popup button:hover {
  background-color: #3e8e41;
} */
