.ruser-profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}

.ruser-profile-container {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, #00000017 0px -3px 5px;
  background-color: white;
}

.ruser-profile-font {
  font-family: "Blinker", sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.ruser-font {
  font-family: "Blinker", sans-serif;
  font-size: larger;
}

.ruser-profile-image {
  background-image: url("../images/graphics/userprofile.jpg");
  height: 100vh;
  width: 100%;
}
